.service-box{
    text-align: center;
  }
  .service-box svg{
    color: #e74c3c;
    font-size: 60px;
    margin-top: 14px;
  }
  .mon{
    margin: 15px;
  }
  .col-md-4 .card{
    border: 2px solid yellowgreen;
    border-radius: 15px;
  }
  .section .card{
    box-shadow: 10px 10px 10px 5px rgb(85, 82, 82); 
  }